.wrapper {
  margin-top: 15px;
  flex: 1;
  background-color: #ff5f00;
  flex-direction: column;
}

.img {
  width: 100%;
  height: 200px;
}

.content {
  padding-inline: 10px;
  padding-bottom: 1px;
}
